<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.yuan.blog.dao.TagMapper">


    <select id="findTagsByBlogId"  resultType="cn.yuan.blog.domain.Tag">
        SELECT
        b.tag_name tagName,b.tag_code tagCode,b.id id
        FROM yn_blog_tag a
        LEFT JOIN yn_tag b ON a.tag_id=b.id WHERE a.blog_id = #{0}
    </select>

    <insert id="addBlogTag" parameterType="cn.yuan.blog.domain.YnBlogTag">
       INSERT INTO yn_blog_tag (tag_id, blog_id) VALUES (#{tagId}, #{blogId})
    </insert>

    <delete id="deleteBlogTagByBlogId">
        DELETE FROM yn_blog_tag WHERE blog_id = #{0}
    </delete>
</mapper>